<div class="col card">
    <div class="row no-gutters">
        <div class="col-auto">
            <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/lHu1wtNaczFPGFDTrjCSzeLPTKN.jpg" class="img-fluid" alt="">
        </div>
        <div class="col content">
            <div class="card-body">
                <h4 class="card-title">Bohemian Rhapsody</h4>
                <h6 class="card-subtitle">November 2, 2018</h6>
                <p class="card-text">Singer Freddie Mercury, guitarist Brian May, drummer Roger Taylor and bass guitarist John Deacon take the music world by storm when they form the rock 'n' roll band Queen in 1970. Hit songs become instant classics.…</p>
            </div>
        </div>
    </div>
</div>
