
.movieCard{
  position: relative;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px 3px;
  -ms-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px 3px;
  margin: 4px;
}

.movieCard:hover{
  cursor: pointer;
  -ms-transform: scale(1.025, 1.025); /* IE 9 */
  -webkit-transform: scale(1.025, 1.025); /* Safari */
  transform: scale(1.025, 1.025);
}


